/*TOP BAR*/
.top_header {
    background-color: rgba(66, 4, 20, 0.8);
    height: auto;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    font-weight: 800;
    margin-bottom: 10em;
    padding: 1em;
}

.top_title {
    width: 40%;
    float: left;
    padding: 0.8em 1.5em;
    color: whitesmoke;
    font-size: 2em;
}

.nav_bar {
    width: 60%;
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav_bar a {
    color: whitesmoke;
    padding: 1em;
    text-align: center;
    transition: ease-in-out 0.3s;
    margin-top: 1em;
    width: 23%;
}

.nav_bar a:hover {
    background-color: var(--primaryLight);
    border-radius: 0.5em;
    color: var(--primaryDark);
    box-shadow: 0px 0px 1px 2px white;
}
/* collapsible icon */
.collapsible_menu_icon{
    display: none;
    width: 8%;
    float: right;
    border: solid red 1px;
    font-size: 2em;
    text-align: center;
}
.collapsible_menu_icon p{
    font-size: 0.5em;
    color: whitesmoke;
}
.bar1, .bar2, .bar3 {
    width: 60%;
    height: 0.15em;
    background-color:whitesmoke;
    margin: 10% auto;
    transition: 0.4s;
    border-radius: 0.5em;

  }
  .change .bar1 {
    transform: translate(0, 0.3em) rotate(-45deg);
  }
  .change .bar2 {opacity: 0;}
  .change .bar3 {
    transform: translate(0,-0.3em)rotate(45deg);
  }
.collapsible_menu_icon a{
    text-decoration: none;
}

/*INTRO*/
.intro {
    margin-top: 10em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.intro_msg {
    width: 70%;
    float: left;
    padding: 2em;
    font-size: 2.5em;
    font-weight: 900;
}

.intro_msg em {
    color: var(--primaryColor);
}

.intro_img {
    width: 30%;
    float: right;
}

.intro_img img {
    border-radius: 0.5em;
    box-shadow: 0.1em 0.1em 0.2em gray;
}

img {
    width: 100%;
    height: 100%;
}

/*---------- MAIN CONTAINER -----------*/
.separators {
    height: 10em;
}

.title {
    text-align: center;
    border-bottom: var(--primaryLight) inset 2px;
}

.subtitle {
    text-align: center;
    font-weight: 100;
}

/*OER Description*/
.OER_description dl {
    margin-top: 2em;
}

.OER_description dl dt {
    color: var(--primaryColor);
    padding-top: 2em;
}

.OER_description dl dd {
    padding: 1em;
}

/* ------------------------------ 
-------------- CHAPTER --------- 
----------------------------------*/
.chapters {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
}

.cards {
    width: 22%;
    height: 38em;
    margin-top: 5em;
    margin: calc(1%);
    box-shadow: 1px 1px 3px gray;
    border-radius: 0.5em;
    padding: 1em;
    transition: ease-in-out 200ms;
    
    background-color: rgb(253, 253, 253);
}

.cardImg {
    height: 25%;
    padding: 2em;
}

.cardInfo {
    height: 55%;
}
.cardInfo_a{color: var(--primaryColor);}
.cardInfo h2 {
    text-align: center;
    color: var(--primaryColor);
}

.cardFooter {
    height: 20%;
    border-top: var(--primaryLight) inset 1px;
    padding-top: 1em;
}

.cardLink {
    text-decoration: none;
    color: black;
}

.cards:hover {
    box-shadow: 0px 0px 3px 2px var(--primaryDark);
    filter: invert(5%);
    transform: scale(1.01) ;
}
/*----------------------------
---------- ACTIVITIES --------
-----------------------------*/
.activities{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}
.sub_title_activity{font-size: 1.2em;}
.activity_card{
    width: 20em;
    height: 10em;
    box-shadow: 1px 1px 3px gray;
    border-radius: 0.5em;
    padding: 1em;
    transition: ease-in-out 100ms;
    position: relative;
    overflow: hidden;
    margin:2em 1em;
    transition: ease-in-out 200ms;
}
.header_activity_card{
    background-color: var(--primaryLight) ;
    text-align: center;
    padding: 1em 0em;
    position: absolute;
    top: -1em; left: 0%; right: 0%;
    font-size: 0.9em;
}

.activities a{
color: var(--primaryDark);
text-decoration: none;
}
.body_activity_card{
    text-align: center;
    background-color: rgb(253, 253, 253);
    bottom: 0%;
    top: 25%;
    left: 0%;
    right: 0%;
    position: absolute;
    padding-top: 10%;
}
.body_activity_card p{
    transform: scale(0.1);
    transition: ease-in-out 500ms;
}
.body_activity_card p:hover{
    transform: scale(1.1);

}
.activity_card:hover{
    box-shadow: 0px 0px 3px 2px var(--primaryDark);
    font-weight: 900;
    filter: invert(5%);
    transform: scale(1.01) ;
}

/*----------------------------
----------- PROJECTS ---------
-----------------------------*/
.cardProject{
    height: 30em;
}
/*----------------------------
------------- FOOTER ---------
-----------------------------*/
.copyright{
    background-color: var(--primaryDark);
    color: whitesmoke;
    padding: 3em 4em;
    margin-top: 5em;
}