/* ------ CARD ------ */
.module_card_container{
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.objects_section{
    margin-top: 5%;
}
.module_subtitle{
    margin-top: 3%;
    font-size: 1.2em;
    font-weight: 900;
}

.module_card{
    width: 230px;
    height: 350px;
    border-radius: 10px;
    overflow: hidden;
    border: solid 0.5px gainsboro;
    background-color: white;
    transition: ease 300ms;
    position: relative;
    margin: 0.5%;
}
.module_card:hover{
    transform: scale(1.01);
    box-shadow: 0px 0px 8px 1px var(--primarycolorlight);
}
.module_card_div{
    position: absolute;
    top: 10%;
    left: 5%;
    right: 5%;
    color: var(--primarycolor);
}
.module_card_div p:nth-child(1){
    text-align: center;
    font-weight: 700;
    font-size: 0.9em;
    color: var(--primarycolordark);
}
.module_card_div a{
    color: var(--primarycolor);
    text-align: left;
    font-size: 0.9em;
    display: block;
}
.module_card_div a:hover{
    color: var(--primarycolordark);
}
.module_card img{
    opacity: 0.03;
    padding: 0% 20% 40% 20%;
}

/*=========== RESPONSIVE =========*/
@media screen and (max-width:1700px) {
    .module_card{
        margin: 2% 3%;
        width: 300px;
        height: 300px;
    }
}